.add-button{
    margin: 0;
    border: none;
    position: relative; /* or absolute if you want full control */
    border-radius: 20px;
    height: 14px;
    width: 14px;
    line-height: 10px;
    margin-top: 3px;
    background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='7.5' cy='7.5' r='7.5' fill='%23512EAB'/%3E%3Cpath d='M6.99 11.25V8.055H3.795V6.93H6.99V3.75H8.115V6.93H11.295V8.055H8.115V11.25H6.99Z' fill='%23EDECF6'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
}


.project-details-btn-container{
    margin-bottom: 5px;
}
.edit-buttons{
    border-radius: 5px;
    border: var(--beri-light) solid 1px;
    box-shadow: 1px 1px 0px var(--light-shadow);
}

.save-project{
    background-color: var(--light-torq-tint);
}
.cancel-changes{
    background-color: var(--light-amber-tint);
}

.delete-project{
    background-color: var(--fuschia-tint);
    color: white;
}