.example-switchbox {
	position: relative;
	display: inline-block;
	width: 24px;
	height: 13px;
	padding: 0px;
	padding-left: 1.5px;
	overflow: hidden;
	box-sizing: content-box;
	border: 1.5px solid var(--darker-mist);
	outline: none;
	border-radius: .75em;
	background-color: white;
	font-size: 1.25em;
	vertical-align: middle;
	cursor: pointer;
	transition: .15s ease-out;
	box-shadow: var(--light-shadow);
}
.example-switchbox::before {
	position: relative;
	z-index: 2;
	display: block;
	width: 9px;
	height: 9px;
	border-radius: 50%;
	background-color: var(--mist-purple);
	border: 1.5px solid var(--darker-mist);
	content: '';
	transition: .15s ease-out;
}
.example-switchbox + label {
	vertical-align: middle;
}
.example-switchbox-yes,
.example-switchbox-no {
	position: absolute;
	top: 50%;
	z-index: 1;
	transform: translateY(-50%);
	font-size: .75em;
	text-transform: uppercase;
	pointer-events: none;
	transition: inherit;
}
.example-switchbox-yes {
	left: .75em;
	color: white;
	font-weight: bold;
	opacity: 0;
}
.example-switchbox-no {
	right: .75em;
	color: darkgrey;
	opacity: 1;
}
.example-switchbox:hover{

}
.example-switchbox:hover::before {
	background-color: var(--light-torq-tint); /* You probably need to change this! */
	border-color: var(--torquoise); /* You probably need to change this! */
}

.example-switchbox.is-pressed {
	border-color: var(--torquoise); /* You probably need to change this! */
	background-color: white; /* You probably need to change this too! */
}

.example-switchbox.is-pressed .example-switchbox-yes {
	opacity: 1;
}
.example-switchbox.is-pressed .example-switchbox-no {
	opacity: 0;
}
.example-switchbox.is-pressed::before {
	transform: translateX(13px);
	background-color: var(--light-torq-tint);
	border-color: var(--torquoise);
}
.example-switchbox.is-pressed:hover {
	border-color: var(--torquoise);
}
.example-switchbox.is-pressed:hover::before {
	background-color: var(--mist-purple);
	border: 1.5px solid var(--darker-mist);
}

/* Only for screen readers */
.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	border: 0;
	white-space: nowrap;
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
}

#showCompleteLabel.is-pressed {
	color: var(--torquoise);
	font-weight: 500;
}