body {
  margin: 0;
  height: 100vh;
  background: linear-gradient(270deg, #ff7e5f, #feb47b, #86a8e7, #91eae4);
  background-size: 800% 800%;
  animation: breathe 20s ease-in-out infinite;
}

body * {
  margin: 4px;
  font-family: "Quicksand", sans-serif;
}
.main-container {
  height: 100vh;
  width: 100vw;
  display: grid; 
  grid-template-columns: 200px 1fr;
  grid-template-rows: 100px 1fr;
  grid-template-areas: 
    'header header'
    'projects tasks'
  ;
}

.page-header {
  background: rgb(139, 139, 139);
  grid-area: header;
}

.projects-main {
  background: rgb(63, 35, 35);
  grid-area: projects;
  display: grid;
  grid-template-rows: 100px 1fr;
}

.project-header{
  background: #feb47b;
  display: flex;
  align-items: flex-start;
}

.project-header > button {
  flex-grow: 0;
}

.project-list-container{
  background-color: #91eae4;
  display: grid;
  grid-template-rows: 40px 1fr;
}

.all-projects-container{
  background-color: #ff7e5f;
}

.project-list{
  background-color: #86a8e7;
  display: grid;
  grid-auto-rows: 30px;
  overflow-y: auto;
}
.project{
  background-color: white;
}

.tasks-main {
  background: rgb(144, 236, 254);
  grid-area: tasks;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100px 150px 1fr;
  grid-template-areas: 
  'header header'
  'filter filter'
  'list details'
  ;
}

.task-header{
  background: #9ffacb;
  display: flex;
  align-items: flex-start;
  grid-area: header;
}

.filter-container{
  background: #cdb904;
  grid-area: filter;
  display: grid;
  grid-template-columns: 40px 1fr;
}

.filter-header-container{
  background-color: grey;
}

.filters{
  background-color: rgb(73, 94, 58);
  display: flex;
}

.show-completed-container{
  background-color: rgb(255, 255, 255);
  display: grid;
}
.show-completed-container > .toggle {
  background-color: #86a8e7;
}

.show-completed{
  background-color: #86a8e7;
}

label[for='show-comp-toggle']{
  font-size: small;
}

.do-due-toggle-container{
  background-color: rgb(255, 255, 255);
}

.tags-container{
  background-color: rgb(255, 255, 255);
  width: 300px;
  display: flex;
}

.tags-label{
  background: #04cdc3;
}
.tags-area {
  background: #5104cd;
  width: 200px;
}
.task-list-container{
  background: #04cdc3;
  grid-area: list;
}
.task-list {
  background: white;
  display: grid;
  grid-auto-rows: 50px;
}

.task {
  color: white;
  background: black;
}
.task-details-container{
  background: #5104cd;
  grid-area: details;
}
.name-container {
  background-color: #cdb904;
}
.urgency-container {
  background-color: white;
  display: flex;
}
.urgency-level {
  background-color: red;
}

.tags-container > button{
  background-color: #cdb904;
}

.notes-container{
  background-color: black;
}
.notes-header {
  background-color: #9ffacb;
}

.notes-area {
  background-color: white;
}

.project-details{
  background-color: white;
}

.project-details-header {
  background: #cdb904;
}
.start-date{
  display: flex;
  background-color: #5104cd;
}
.end-date{
  display: flex;
  background-color: #0454cd;
}
.project-description{
  background-color: #fcf7ce;
}
.project-description :first-child {
  background-color: black;
  color: white;
}