@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Quicksand:wght@300..700&display=swap');

body {
  height: 100vh;
  background: linear-gradient(270deg, #ff7e5f, #feb47b, #86a8e7, #91eae4);
  background-size: 800% 800%;
  animation: breathe 20s ease-in-out infinite;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

body * {
  font-family: "Plus Jakarta Sans", sans-serif;
  color: var(--pearson-purple);
}
.main-container {
  height: 812px;
  width: 1281px;
  display: grid; 
  grid-template-columns: 250px 1fr;
  grid-template-rows: 56px 1fr;
  grid-template-areas: 
    'header header'
    'projects tasks'
  ;
  gap: 15px;
 
}
.page-header {
  background: #FFFFFF;
  /* solid drop shadow */
  box-shadow: 3px 3px 0px var(--shadow);
  border-radius: 10px;
}
.page-header {
  grid-area: header;
  display: flex;
  justify-content: flex-end;
  margin: 0px;
  border-radius: 10px;
}
.panel {
  padding: 10px 15px 10px 15px;
  background: #FFFFFF;
  /* solid drop shadow */
  box-shadow: 3px 3px 0px var(--shadow);
  border-radius: 10px;
}

.section-header {
  font-size: var(--section-header);
  font-weight: var(--regular);
}

.projects-main {
  grid-area: projects;
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 15px;
}


.project-header{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: var(--section-header);
  height: 33px;
  margin-bottom: 6px;
}

.project-header > button {
  flex-grow: 0;
}

.project-header-title {
  margin-right: 5px;
}
.header-divider {
  background: var(--shadow);
  height: 1.5px;
  border-radius: var(--round-cap);
  margin-bottom: 8px;
}
.sub-divider {
  background: var(--subtler);
  height: 1px;
  border-radius: var(--round-cap);
  margin-bottom: 8px;
}
.project-list-container{
  display: grid;
  grid-template-rows: 28px 1fr;
}

.all-projects-container{
  cursor: pointer;
  
}

.project-list{
  font-size: 1fr;
  display: grid;
  grid-auto-rows: 25px;
  overflow-y: auto;
  gap: 5px;
  padding-left: 3px;
}

.project-list .entry-container{
  display: flex;
  background-color: white;
  margin: 0px;
  border-radius: 5px;
  align-items: center;
  width: fit-content;
  position: relative;
}

.entry-container .project{
  white-space: nowrap;       /* Prevent line breaks */
  overflow: hidden;          /* Hide overflow */
  text-overflow: ellipsis;   /* Show ellipsis (…) */
  max-width: 180px;              /* Set a width to limit characters */
}

.svg-container {
  position: relative;
  top: 1.5px;
  left: 0px;
  margin-right: 5px;
}
.project{
  cursor: pointer;
}



.tasks-main {
  grid-area: tasks;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 150px 1fr;
  grid-template-areas: 
  'filter filter'
  'list details'
  ;
  gap: 15px;
  /* margin-left: 20px; */
}

.task-header{
  background: #9ffacb;
  display: flex;
  align-items: flex-start;
}

.filter-container{
  grid-area: filter;
  display: flex;
  flex-direction: column;
}

.filter-header-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: var(--section-header);
    height: 33px;
    margin-bottom: 6px;
}

.filters{
  background-color: rgb(73, 94, 58);
  display: flex;
  flex-direction: column;
}
.filter-top{
  display: flex;
}

.show-completed-container{
  background-color: rgb(255, 255, 255);
  display: grid;
}
.show-completed-container > .toggle {
  background-color: #86a8e7;
}

.show-completed{
  background-color: #86a8e7;
}

label[for='show-comp-toggle']{
  font-size: small;
}

.do-due-toggle-container{
  background-color: rgb(255, 255, 255);
}

.tags-container{
  background-color: rgb(255, 255, 255);
  width: 500px;
  display: block;
  position: relative;
}

.tags-sub{
  display: flex;
}

.tags-label{
  background: #04cdc3;
}
.tags-area-task {
  background: #5104cd;
  min-width: 300px;
}
.tags-area-filter {
  background: #5104cd;
  min-width: 300px;
}

.create-tag-container{
  display: none;
}
.task-list-container{
  grid-area: list;
  position: relative;
}
.task-list {
  
  background: white;
  display: grid;
  grid-auto-rows: 50px;
}

.task-container {
  display: flex;
  justify-content: space-between;
}

.task-container > *{
  flex-grow: 0;
  flex-basis: content;
}
.task {
  color: white;
  background: black;
  cursor: pointer;
}
.task-details-container{
  grid-area: details;
  display: none;
  position: relative;
}

.task-delete-modal, .project-delete-modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
  align-items: center;
  justify-content: center;
}

.modalContent {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}

.name-container {
  background-color: #cdb904;
}

.name-sub-container{
  display: flex;
  justify-content: space-between;
}

.name-sub-container > input[text]{
  flex-grow: 0;
  flex-basis: auto;
}
.urgency-container {
  background-color: white;
  display: flex;
}
.urgency-level {
  background-color: red;
  width: 100px;
}
.dates-container {
  height: 200px;
  background-color: #34276c;
}
.tags-container > button{
  background-color: #cdb904;
}

.notes-container{
  background-color: black;
  display: flex;
  flex-direction: column;
}
.notes-header {
  background-color: #9ffacb;
}

#notes-area {
  background-color: white;
  min-height: 300px;
  resize: none;
}

.project-details{
  background-color: white;
  display: none;
  position: relative;
  padding-top: 17px;
  padding-right: 20px;
}

.project-details-header {
  height: 28px;
  font-size: var(--top-input);
  font-weight: var(--regular);
  padding: 5px;
  margin-bottom: 5px;
}

.start-date-container, .end-date-container{
  font-size: var(--smaller);
  display: flex;
  align-items: center;
}
.start-date-container{
  margin-bottom: 2px;
}
input.start-date, input.end-date{
  padding-left: 5px;
}

input.start-date::placeholder, input.end-date::placeholder{
 color: var(--darker-mist);
}

label[for="start-date"]{
  width: 50px;
  padding-left: 3px;
}
.end-date-container{
  margin-bottom: 15px;
}
label[for="end-date"]{
  width: 50px;
  padding-left: 3px;
}

input.small-input, textarea.small-input{
  background-color: var(--beri-light);
  border-radius: 5px;
  border: var(--subtler) solid 1px;
}

textarea.small-input {
  margin-bottom: 6px;
}
#project-description{
  
  height: 200px;
  width: 100%;
  font-size: var(--smallest);
  padding: 7px 13px 7px 13px;
  resize: none;
}
.project-description :first-child {
  font-size: var(--smaller);
  margin-bottom: 6px;
}

.project-details-btn-container{
  display: flex;
  justify-content: space-between;
}

.no-results{
  font-size: 5em;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
  align-items: center;
  justify-content: center; 
}

